<% if notice %>
  <div id="notice" class="alert alert-success" role="alert">
    <%= notice %>
    <i class="fa fa-times fa-lg" id="close-x"></i>
  </div>
<% elsif alert %>
  <div id="alert" class="alert alert-danger" role="alert">
    <%= alert %>
    <i class="fa fa-times fa-lg" id="close-x"></i>
  </div>
<% end %>
<div class="panel panel-default fill-space">
  <div class="panel-heading">
    <div class="pull-right"><%= link_to "New Chatroom", new_chatroom_path, class: "js-modal btn btn-primary", style: "margin-top:5px" %>
    </div>
    <h3 style="margin-top: 10px">Chatrooms</h3>
  </div>
  <div class="panel-body" style="padding: 0px">
    <ul id="chatrooms" class="box box-info">
      <% @chatrooms.each do |chatroom| %>
        <li id="chatroom_<%=chatroom.id%>" class="box-item">
          <div class="col-sm-4 tital" ><p style="padding-top: 10px" class="font-large"><%= chatroom.name %></p></div>
          <% if chatroom.users.count >= chatroom.room_size %>
            <div class="col-sm-2">
              <p style="padding-top: 10px" class="font-large">FULL</p>
            </div>
          <% else %>
            <div class="col-sm-2">
              <p style="padding-top: 10px" class="font-large"><%= "#{chatroom.users.count}/#{chatroom.room_size}" %></p>
            </div>
          <% end %>
          <div class="col-sm-2"><%= link_to 'Edit', edit_chatroom_path(chatroom), class: 'btn btn-outline-white btn-rounded font-large' %></div>
          <div class="col-sm-2"><%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post, class: 'btn btn-outline-white btn-rounded font-large' %></div>
          <div class="col-sm-1"><%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete, class: 'btn btn-outline-white btn-rounded font-large' %></div>
          <div class="col-sm-1">
            <% if chatroom.owner == current_user %>
              <%= link_to chatroom_path(chatroom), method: :delete, remote: true, class: 'delete-room btn btn-outline-white btn-rounded font-large', data: { confirm: "Are you sure you want to delete #{chatroom.name}"} do %>
                <i class="fa fa-times" style="color:#F6546A" aria-hidden="true"></i>
              <% end %>

            <% end %>
          </div>
          <div class="clearfix"></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>

